.fullscreen {
  background-image: image( "clouds.jpg");
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-button{
  margin: 0;
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -16%);
}
