$font-size: 50px;
.example {
  font-size: $font-size;
}

.fullscreen {
  background-image: url("http://carterrink.com/assets/images/clouds.jpg");
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-button{
  margin: 0;
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -16%);
}